<form (ngSubmit) = "addsub()" [formGroup] = "addform">
    <div class="form-group">
        <label for="usr">Firstname:</label>
        <input type="text" class="form-control" id="name" formControlName="Firstname">
    </div>
    <div class="form-group">
        <label for="usr">Secondname:</label>
        <input type="text" class="form-control" id="usr" formControlName="Secondname">
    </div>
    <div class="form-group">
        <label for="usr">Email:</label>
        <input type="text" class="form-control" id="eml" formControlName="Email">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" formControlName="Password">
    </div>
    <button type="submit">submit</button>
</form>
